AxaptaApiApp/Service References/PAX_APITestServiceGroup/PAX_APITestServiceGroup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pax-ax6-141:8101/DynamicsAx/Services/PAX_APITestServiceGroup?xsd=xsd0" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://pax-ax6-141:8101/DynamicsAx/Services/PAX_APITestServiceGroup?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://pax-ax6-141:8101/DynamicsAx/Services/PAX_APITestServiceGroup?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://pax-ax6-141:8101/DynamicsAx/Services/PAX_APITestServiceGroup?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pax-ax6-141:8101/DynamicsAx/Services/PAX_APITestServiceGroup?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://pax-ax6-141:8101/DynamicsAx/Services/PAX_APITestServiceGroup?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PAX_APITestServiceTestConnectionRequest">
    <wsdl:part name="parameters" element="tns:PAX_APITestServiceTestConnectionRequest" />
  </wsdl:message>
  <wsdl:message name="PAX_APITestServiceTestConnectionRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="PAX_APITestServiceTestConnectionResponse">
    <wsdl:part name="parameters" element="tns:PAX_APITestServiceTestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="PAX_APITestService_testConnection_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="PAX_APITestServiceJokeRequest">
    <wsdl:part name="parameters" element="tns:PAX_APITestServiceJokeRequest" />
  </wsdl:message>
  <wsdl:message name="PAX_APITestServiceJokeRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="PAX_APITestServiceJokeResponse">
    <wsdl:part name="parameters" element="tns:PAX_APITestServiceJokeResponse" />
  </wsdl:message>
  <wsdl:message name="PAX_APITestService_joke_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:portType name="PAX_APITestService">
    <wsdl:operation name="testConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/PAX_APITestService/testConnection" name="PAX_APITestServiceTestConnectionRequest" message="tns:PAX_APITestServiceTestConnectionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/PAX_APITestService/testConnectionResponse" name="PAX_APITestServiceTestConnectionResponse" message="tns:PAX_APITestServiceTestConnectionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PAX_APITestService/testConnectionAifFaultFault" name="AifFaultFault" message="tns:PAX_APITestService_testConnection_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="joke">
      <wsdl:input wsaw:Action="http://tempuri.org/PAX_APITestService/joke" name="PAX_APITestServiceJokeRequest" message="tns:PAX_APITestServiceJokeRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/PAX_APITestService/jokeResponse" name="PAX_APITestServiceJokeResponse" message="tns:PAX_APITestServiceJokeResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/PAX_APITestService/jokeAifFaultFault" name="AifFaultFault" message="tns:PAX_APITestService_joke_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>